:root {
    --color-accent1: #583DCC;
    --color-acc-shadow: #705ACB;
    --color-accent2: #E8524F;
    --color-acc2-shadow: #E77A78;
    --color-accent3: #51E84F;
    --color-acc3-shadow: #89ED87;
    --color-stroke: #1E2831;
    --color-white: #BCBCBC;
    --color-text: #45545F;
    --button-white: #D9D9D9;
    --color-main-BG: linear-gradient(90deg, #0D1720, #0B1218);
    --color-background: linear-gradient(90deg, #0B1218, #141D24);
    /*custom*/
    --background-dark: url("/static/images/blind_new.svg");
    --no-data: url("/static/images/no_data.svg");
}

.light-theme {
    --color-accent1: #0047FF;
    --color-acc-shadow: #1F5DFE;
    --color-accent2: #850E0C;
    --color-acc2-shadow: #E86E6C;
    --color-accent3: #007327;
    --color-acc3-shadow: #2A6D29;
    --color-stroke: #1E2831;
    --color-white: #131313;
    --color-text: #111B22;
    --button-white: #D9D9D9;
    --color-main-BG: linear-gradient(90deg, #E1E1E1, #C9C9C9);
    --color-background: linear-gradient(90deg, #c7c7c7, #CFCFCF);
    /*custom*/
    --background-dark: url("/static/images/blind_new_light.svg");
    --no-data: url("/static/images/no_data_light.svg");
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-Regular.ttf') format('truetype');
}

/*------------------------------------------------------------------*/
/*  Body & Main Content                                             */
/*------------------------------------------------------------------*/
body {
    font-family: 'Nunito', sans-serif;
    background: var(--background-dark), var(--color-main-BG);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0; 
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto; 
    overflow-x: hidden; 
    padding: 20px; 
    box-sizing: border-box; 
}

.container h1 {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: var(--color-accent1);
}

.container p {
    font-family: 'Nunito', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: var(--color-white);
}

.container a {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    padding: 15px 20px;
    cursor: pointer;
    color: var(--button-white);
    border-radius: 4px;
    border: 1px solid var(--color-acc-shadow);
    background: radial-gradient(circle at bottom left, var(--color-acc-shadow), var(--color-accent1), var(--color-acc-shadow));
    box-shadow: 0 4px 10px rgba(88, 61, 204, 0.4);
}

.container a:focus {
    outline: none;
}

.image-succes {
    display: flex;
    background-image: var(--no-data);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;          
    padding: 4px;
    width: 300px;
    height: 400px;
}